<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
			<!-- <property name="connection.driver_class">org.h2.Driver</property> -->
			<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
			<!-- <property name="connection.url">jdbc:h2:mem:test</property> -->
			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testdb</property>
			<property name="connection.username">root</property>
			<property name="connection.password">root</property>
			<!-- <property name="hibernate.default_schema">testdb</property> -->
		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->
		<!-- SQL dialect -->
			<!-- <property name="dialect">org.hibernate.dialect.H2Dialect</property> -->
			<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Disable the second-level cache -->
<!-- 		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->
		    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		    <property name="hibernate.cache.use_second_level_cache">false</property> 
		     <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> 
		<!-- Echo all executed SQL to stdout -->
			<property name="show_sql">true</property>
		    <property name="hibernate.generate_statistics">true</property>
		<!-- Drop and re-create the database schema on startup -->
			<property name="hbm2ddl.auto">create</property>
			<!-- connection pooling c3p0 -->
			<property name="hibernate.c3p0.min_size">10</property>
			<property name="hibernate.c3p0.max_size">20</property>
			<property name="hibernate.c3p0.acquire_increment">1</property>
			<property name="hibernate.c3p0.idle_test_period">3000</property>
			<property name="hibernate.c3p0.max_statements">50</property>
			<property name="hibernate.c3p0.timeout">1800</property>
			
		 <mapping resource="com/hibernate/OneToOnejoinMapping/address.hbm_JOINOnetoOne.xml"/>
			<mapping resource="com/hibernate/OneToOnejoinMapping/employee.hbm_JOINOnetoOne.xml"/>
			
			
	</session-factory>

</hibernate-configuration>
